# 로그 파일
logs/
*.log

# Django 설정 디렉토리
__pycache__/
settings/*.pyc
settings/__pycache__/

# 가상환경관련 파일
/.venv

# Python 바이트코드 파일
*.pyc
*.pyo

# 데몬과 실행 파일
*.pid

# 패키지 파일
*.egg-info/
dist/
build/

# .DS_Store 파일 (macOS)
.DS_Store

# vscode 설정
.vscode/

# 개발 db
db.sqlite3

#.env 파일(배포 환경에서는 서버에 직접 환경변수를 설정할 것)
.env

# 정보 파일
info/

# 로컬 미디어 파일
media/
static/

# 마이그레이션 파일
migrations/
!migrations/__init__.py