[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
pillow = "*"
wheel = "*"
boto3 = "*"
django-storages = "*"
mysqlclient = "*"
uwsgi = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
