[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.local/share/virtualenvs/backend-django-vwrAHsUq/bin/uwsgi -i /srv/backend-django/config/uwsgi/unistar.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target